*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/

# False positives, whitelisted/blacklisted users, ignored posts, etc.
falsePositives.txt
whitelistedUsers.txt
blacklistedUsers.txt
ignoredPosts.txt
autoIgnoredPosts.txt
users.txt
notifications.txt
whyData.txt
whyDataAllspam.txt
latestMessages.txt
apiCalls.txt
bodyfetcherQueue.txt

# Settings files
.settings/

# Error logs
errorLogs.txt
errorLogs.txt.*

# Swap files
*.swp

# Cache
test/.cache/

# Config
config

# Ignore .DS_Store file (usually seen in Mac environments)
.DS_Store


# PyCharm Debugger Package (includes pydevd and related plugins).
#
# Necessary for the Debugging handler's enablement, and to allow
# for the debugger to communicate with PyCharm debugger servers
# running on a specified system.
!/pycharm-debug.egg
