*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/

# False positives, whitelisted/blacklisted users, ignored posts, etc.
falsePositives.txt
whitelistedUsers.txt
blacklistedUsers.txt
ignoredPosts.txt
autoIgnoredPosts.txt
users.txt
notifications.txt

# Settings files
.settings/

# Error logs
errorLogs.txt

# Swap files
*.swp

# Cache
test/.cache/