*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/

# False positives, whitelisted/blacklisted users, ignored posts, etc.
# - Old format text files:
falsePositives.txt
whitelistedUsers.txt
blacklistedUsers.txt
ignoredPosts.txt
autoIgnoredPosts.txt
users.txt
notifications.txt
whyData.txt
whyDataAllspam.txt
latestMessages.txt
apiCalls.txt
bodyfetcherQueue.txt
bodyfetcherMaxIds.txt
# - New format Pickle files:
falsePositives.p
whitelistedUsers.p
blacklistedUsers.p
ignoredPosts.p
autoIgnoredPosts.p
users.p
notifications.p
whyData.p
whyDataAllspam.p
latestMessages.p
apiCalls.p
apiCalls.pickle
bodyfetcherQueue.p
bodyfetcherMaxIds.p

# Settings files
.settings/

# Error logs
errorLogs.txt
errorLogs.txt.*

# Swap files
*.swp

# Cache
test/.cache/

# Config
config

# Ignore .DS_Store file (usually seen in Mac environments)
.DS_Store
