[Config]
location=location_here

# Set ChatExchange login credentials, environmental variables take precedence over here
# ChatExchangeU=stackexchange_login@example.com
# ChatExchangeP=p@55w0rd

# Set the location for metasmoke here if you're running it. See https://github.com/Charcoal-SE/metasmoke.
# metasmoke_host=https://metasmoke.erwaysoftware.com
# metasmoke_ws_host=wss://metasmoke.erwaysoftware.com/cable

# Set metasmoke_key if Smokey isn't running on the same machine (localhost) that metasmoke is
# metasmoke_key=gibberish_here

# Set GitHub keys
# github_username=username@domain.com
# github_password=p@55w0rd

# Miscellaneous customization. Recommend leaving the default values for production Smokey
# log_time_format=%H:%M:%S
