git+https://github.com/Charcoal-SE/ChatExchange.git
pbs>=0.110
packaging>=16.8
appdirs>=1.4.3
beautifulsoup4>=4.6.0
requests>=2.18.4
websocket-client>=0.54.0
coverage>=4.5.1,<5
pytest>=4.1.0
phonenumbers>=8.8.11
flake8~=3.8.0
pep8-naming==0.7.0
regex>=2020.6.8
termcolor>=1.1.0
sh>=1.12.14
typing>=3.6.4
dnspython>=1.15.0
PyYAML>=3.12
msgpack-python>=0.5.6
colorama>=0.4.1
