git+https://github.com/Charcoal-SE/ChatExchange.git
appdirs>=1.4.3
beautifulsoup4>=4.6.0
colorama>=0.4.1
coverage>=7.3.2
dnspython>=2.0.0
msgpack-python>=0.5.6
phonenumbers>=8.8.11
psutil>=5.9.0
pytest-cov~=7.0.0
pytest-xdist>=2.5.0
pytest-timeout>=2.1.0
pytest>=4.1.0
PyYAML>=3.12
regex==2025.9.18
requests>=2.18.4
ruff~=0.15.0
sh>=1.12.14
termcolor>=1.1.0
typing>=3.6.4
websocket-client>=0.54.0
