git+https://github.com/Manishearth/ChatExchange.git@a0307e431ea29983f846e770629f25bffb8c3814
pbs>=0.110
packaging>=16.8
appdirs>=1.4.3
beautifulsoup4>=4.6.0
requests>=2.18.4
websocket-client==0.42.1
coverage>=4.5.1
pytest>=3.4.1
phonenumbers>=8.8.11
flake8~=3.5.0
pep8-naming==0.5.0
regex>=2018.2.21
termcolor>=1.1.0
sh>=1.12.14
typing>=3.6.4
dnspython>=1.15.0
PyYAML>=3.12
