name: build

on:
  push:
    branches-ignore:
      - deploy
  pull_request:
    branches-ignore:
      - deploy

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.9'
          - '3.13'
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Fetch branches
      run: |
        git remote set-branches --add origin deploy
        git fetch --depth=5 origin master deploy
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: uv sync --locked --group ci
    - name: Lint code
      run: uv run ruff check
    - name: Pytest
      run: |
        uv run python3 -W default::Warning -m pytest \
          --cov=chatcommunicate \
          --cov=findspam \
          --cov=globalvars \
          --cov=spamhandling \
          --cov=datahandling \
          --cov=chatcommands \
          --cov=helpers \
          -n 3 \
          --dist loadgroup \
          --timeout=300 \
          test
