name: build

on:
  push:
    branches-ignore:
      - deploy
  pull_request:
    branches-ignore:
      - deploy

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.6'
          - '3.10'
    steps:
    - uses: actions/checkout@v3
    - name: Fetch branches
      run: |
        git remote set-branches --add origin deploy
        git fetch --depth=5 origin master deploy
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup cache
      id: cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-1-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-1-
    - name: Install dependencies
      run: |
        pip3 install -U wheel
        pip3 install -U -r requirements.txt -r user_requirements.txt pytest-cov coveralls
    - name: Lint tests
      run: flake8 --config=tox_tests.ini test/
    - name: Lint classes
      run: flake8 --config=tox_classes.ini classes/
    - name: Lint code
      run: flake8 ./
    - name: Pytest
      run: |
        python3 -W default::Warning -m pytest \
          --cov=chatcommunicate \
          --cov=findspam \
          --cov=globalvars \
          --cov=spamhandling \
          --cov=datahandling \
          --cov=chatcommands \
          --cov=helpers \
          test
